/* Intégration des polices */
@font-face {
    font-family: "komika";
    src: url(font/KOMIKAX_.ttf);
}
@font-face {
    font-family: "kronika";
    src: url(font/KRONIKA_.ttf);
}

/* ----------------- Paramètres généraux ----------------- */
#header, #footer {
    font-family: "kronika";
    width: 100%;
    background-color: #275f74;
    color: #f2dcc2;
}
#footer {
    margin-top: auto;
}
body {
    background-color: #f2dcc2;
    font-family: "kronika";
    color: #275f74;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
}

/* ----------------- paramètres header (navbar, logo, titre et menu) ----------------- */
#header {
    height: 100px;
}
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    min-width: 120px;
    max-width: 120px;
    position: absolute;
    top:0%;
    left: 20px;
}
.navbar > div {
    flex-direction: column;
}
/* Titre */
#titreMyComics {
    font-family: "komika";
    text-align: center;
}

/* Menu */
#menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btnMenu {
    display: inline-block;
    border-radius: 10px;
    background-color: #f2dcc2;
    color: #275f74;
    margin-inline: 15px;
    width: 120px;
    height: 30px;
    text-align: center;
    padding: 5px;
}
.btnMenu:hover {
    background-color: #afdff3;
}

/* ----------------- MEDIA QUERIES ----------------- */
/* Media Query for Mobile Devices */
@media (max-width: 480px) {

}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){

}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){

}

/* Media Query for Large screens */
@media (min-width: 1281px) {

}