#btnPresentation {
    background-color: #275f74;
    color: #f2dcc2;
    box-shadow:0px 0px 0px 3px #f2dcc2 inset;
}

.menuLateral h3 {
    text-align: center;
    font-size: larger ;
}
/* pour lier le menu er l'arrondi */
.menuLateral{
    box-shadow: #275f74 0px 0px 0px 3px;
}

#cadreAndroidPresentation {
    margin-left: 0;
}

#cadreAndroidPresentation2 {
    display: none;
    margin-left: auto;
    margin-bottom: 1em;
    margin-bottom: 100px;
}

.textePresentation {
    display: none;
}

.logoBouton {
    height: 20px;
    width: 20px;;
}

.arrondiMenu{
    border: #275f74 solid;
    border-top-width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-left-radius: 25px;
}


/* ----------------- MEDIA QUERIES ----------------- */
/* Media Query for Mobile Devices */
@media (max-width: 767px) {
    .btnMenuLateral span {
    display: none;
    }
}